{
  "names" : [
    { "mode" : "serie" },
      [ { "mode" : "alts" },
      //Polski Imię
      "Tatiana", "Małgorzata", "Zofia", "Maria", "Ada", "Monika", "Nikola",
      //Misc
      "Nadezhda", "Milosh", "Zayac", "Shchuka",
      //Litewski
      "Aušra", "Alma", "Sophija", "Novis", "Mile", "Ula", "Lina" ],
      [ " " ],
      [ { "mode" : "alts" },
      //Polski
      "Nowek", "Łem", "Wójcik", "Duda", "Sokołowska", "Kubiak", "Kołodziej",
      //Litewski
      "Kazlauskienė", "Jankauskienė", "Petrauskienė", "Stankevičienė", "Paulauskienė" ]
  ]
}
