{
  "names" : [
    { "mode" : "serie" },
      [ { "mode" : "alts" },
      //Polski Imię
      "Tatiana", "Małgorzata", "Zofia", "Maria", "Ada", "Monika", "Nikola",
      //Misc
      "Nadezhda", "Milosh", "Zayac", "Shchuka",
      //Litewski
      "Aušra", "Alma", "Sophija", "Novis", "Mile", "Ula", "Lina",
      //Courtesy Name
      "Yeohae", "Kongming", "Zhongni", "Changqing",
      //Chiński
      "Lili", "Fang", "JianWei", "KangQing", "DongFeng", "LingYuan", "JingYang" ],
      [ " " ],
      [ { "mode" : "alts" },
      //Polski
      "Nowek", "Łem", "Wójcik", "Duda", "Sokołowska", "Kubiak", "Kołodziej",
      //Litewski
      "Kazlauskienė", "Jankauskienė", "Petrauskienė", "Stankevičienė", "Paulauskienė",
      //Chiński
      "Lee", "Wang", "Zhang", "Liu", "Chen", "Yang", "Liang" ]
  ]
}
